@charset "utf-8";
@import "./mixin";
/* Common */
.blind{position:absolute;left:-9999px;top:-9999px;width:0;height:0;font-size:0;overflow:hidden;line-height:0;text-indent:-9999px;}
.clearfix{*zoom:1;}
.clearfix::before,
.clearfix::after{display:block;content:"";line-height:0;clear:both;}
.blind{position:absolute;left:-9999px;}
.wrap{max-width:1400px;margin:0 auto;}

.fl{float:left;}
.fr{float:right;}
.flex_wrap{display:flex;}
.f_sb{justify-content:space-between;}
.f_sa{justify-content:space-around;}
.f_s{justify-content:flex-start;}
.f_c{justify-content:center;}
.as_c{align-self:center;}
.ai_c{align-items:center;}

.alignL{text-align:left !important;}
.alignR{text-align:right !important;}
.alignC{text-align:center !important;}

.font_b{font-weight:bold;}
.font_n{font-weight:normal;}
.font_pink{color:#fb7979 !important;}
.font_navy{color:#235daa !important;}
.font_mint{color:#05b4bf !important;}
.font_gray{color:#788cb2 !important;}

/* Btn */
.btn{padding:6px 20px;font-size:16px;border-radius:3px;font-size:14px;}
.btn_s{width:77px;height:30px;border-radius:15px;text-align:center;line-height:28px;}
.btn_m{padding:3px 7px;border-radius:3px;vertical-align:middle;}
.btn_l{width:100px;line-height:36px;font-weight:bold;text-align:center;border-radius:3px;}
.btn_gray{border:1px solid #5c6375;background-color:#5c6375;color:#f8f8f8;
  &:hover, &:active{background-color:#4b5261;color:#fff;}
}
.btn_lightgray{border:1px solid #999;background-color:#999;color:#f8f8f8;
  &:hover, &:active{border:1px solid #858585;background-color:#858585;color:#fff;}
}
.btn_blue{border:1px solid #1a56a7;background-color:#1a56a7;color:#fff;
  &:hover, &:active{background-color:#144383;border-color:#144383;}
}
.btn_deepblue{border:1px solid #2a3652;background-color:#2a3652;color:#fff;
  &:hover, &:active{background-color:#161d2c;border-color:#161d2c;}
}
.btn_mint{border:1px solid #25b4aa;background-color:#25b4aa;color:#fff;
  &:hover, &:active{background-color:#1e8e86;border-color:#1e8e86;}
}
.btn_mintline{border:1px solid #25b4aa;background-color:#fff;color:#25b4aa;font-weight:bold;
  &:hover, &:active{background-color:#25b4aa;border-color:#25b4aa;color:#fff;}
}
.btn_orange{border:1px solid #fc6c0f;background-color:#fc6c0f;color:#fff;
  &:hover, &:active{background-color:#db6110;border-color:#db6110;}
}
.btn_greenline{border:2px solid #098703;background-color:#fff;color:#098703;
  &:hover{background-color:#098703;color:#fff;}
}
.btn_lightgrayline{border:1px solid #999;background-color:#fff;color:#999;font-weight:bold;
  &:hover, &:active{border:1px solid #999;background-color:#dadada;color:#999;}
}
.result_badge{display:inline-block;min-width:45px;margin-left:5px;border-radius:5px;border:1px solid rgba(0,0,0,0);font-size:12px;color:#fff;letter-spacing:-0.3px;text-align:center;line-height:17px;
  &.positive{background:#35b8fc;}
  &.negative{background:#f40a0a;}
  &.abnormal{background:#c5c5c5;}
}

/* Table */
.fix_scroll{width:17px !important;margin:0 !important;padding:0 !important;border:0;}
.tbl_scroll{overflow-y:scroll;border-bottom:1px solid #ebebeb;
  tr{cursor:pointer;
    &:hover{background-color:#f0f7ff;}
    &.on,
    &:active{background-color:#fffcc6;}
  }
}
.tbl_top {margin:25px 0 10px;
  p{align-self:flex-end;font-size:14px;letter-spacing:.09px;}
  b{color:#000;}
}
.tbl_com{line-height:32px;table-layout:fixed;
  thead{background-color:#eeeff1;}
  tbody tr{border-bottom:1px solid #cacaca;line-height:45px;
    &>th:first-child,
    &>td:first-child{border-left:none;}
    &>th:last-child,
    &>td:last-child{border-right:none;}
    &.jqgfirstrow{display:none;}
    &:hover{background-color:#f0f7ff;}
    &.on,
    &:active{background-color:#fffcc6;}
  }
  tr{
    &>th,
    &>td{height:38px;padding:0px 5px;font-size:14px;line-height:20px;}
    &>th{font-weight:bold;color:#000;border:1px solid #d7d7d7;}
    &>td{border:1px solid #e8ebee;}
  }
}
.required_info{margin-bottom:10px;}
.tbl_code td{padding:0;}
.tbl_row{
  tr{
    &:first-child{
      &>*{border-top-color:#ccc;}
    }
    &:last-child{
      &>*{border-bottom-color:#ccc;}
    }
    th,
    td{border:1px solid #e8e8e8;padding:8px 0;}
    th{background-color:#f3f3f3;font-weight:600;color:#000;font-size:16px;
      &:first-child{border-left-width:0;}
    }
    td{text-align:left;padding-left:13px;padding-right:13px;color:#777;
      &:last-child{border-right-width:0;}
    }
  }
  select,
  input[type=text],
  input[type=file],
  input[type=color],
  input[type=number]{width:100%;height:30px;font-size:14px;}
  & + .gis_wrap{margin-top:6px;}
}
.tbl_info{
  label{font-weight:600;}
  th,
  td{height:30px;padding:5px 3px;background-color:transparent;border:1px solid transparent;text-align:left;font-size:16px;}
  input,
  select{width:100%;height:35px;font-size:16px;}
}
.tbl_scroll_head{width:calc(100% - 17px) !important;
  tr:hover{background-color:transparent !important;}
}
tr:has(.tbl_scroll){
  &:hover{background-color:transparent !important;}
}
td:has(.tbl_scroll){padding:0 !important;}
tbody:has(.tbl_scroll_head){
  &>tr:first-child{border:none;
    &{border-left:1px solid #cacaca}
    tr,
    th{border-width:0 1px;}
  }
  td{
    &:has(.tbl_scroll_head){background-color:#eeeff1;padding:0;border:1px solid #cacaca;
    }
  }
}
.tbl_res{
  thead{background-color:#eeeff1;
    tr{
      th,
      td{font-size:15px;line-height:27px;}
      th{padding:5px;border:1px solid #d7d7d7;font-size:14px;font-weight:bold;color:#000;}
    }
  }
  tbody{
    &>tr{cursor:pointer;
      &:hover{background-color:#f0f7ff;}
      &.on,
      &:active{background-color:#fffcc6;}
      &>th,
      &>td{padding:5px;border:1px solid #ecf0f7;line-height:27px;font-size:14px;
        &:first-child{border-left-color:transparent;}
        &:last-child{border-right-color:transparent;}
      }
    }
  }
}
.tbl_tree{
  .tbl_tree_row{
    &.active{background-color:#fffcc6;}
    & + tr{
      &>td{background:#fff;border-color: transparent;
      }
    }
  }
  .tbl_tree_con{display:none;}
  .tbl_toggle{
    thead{background-color:#fafafa;
      th{border-color:#e2e2e2;padding:2px;}
    }
  }
  .btn_tbltoggle{cursor:pointer;background-color:#fff;font-weight:bolder;color:#000;}
}



/* input */
.deco input[type="radio"],
.deco input[type="checkbox"]{-webkit-appearance:none;-moz-appearance:none; -o-appearance:none;appearance:none;outline:none;box-shadow:none;border:none;}
.deco input[type="radio"]:checked,
.deco input[type='checkbox']:checked{-webkit-appearance:none; -moz-appearance:none;-o-appearance:none;appearance:none;box-shadow:none;border:none;}
.to,.from,.datepic,.date{width:105px;}
.period{display:inline-flex;align-items:center;justify-content:space-between;line-height:22px;vertical-align:middle;}
.period label,
.period input{vertical-align:top;}
.period_multi{position:relative;}
.period_multi::after{content:"~";position:absolute;left:49.5%;top:2px;transform:translateX(-50%);}
.period_multi input{width:45.8%;line-height:33px;}
.date_wrap{position:relative;}
.pop_overlay .date_wrap{display:block;}
.times img,
.date_wrap img{position:absolute;top:50%;right:5px;margin-top:-9px;}
.period_multi img{position:absolute;right:5px;right:11px\0; top:50%;margin-top:-11px;vertical-align:top;}
.period_multi img:first-of-type{left:calc(45.8% - 22px);left:calc(45.8% - 23px)\0;}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current{background:#1a56a7;box-shadow:#1a56a7 0 1px 3px 0 inset;color:#fff;}
.xdsoft_datetimepicker .xdsoft_calendar td:hover{background:#fc6c0f !important;}
.divideL.period_multi::after{margin-left:0;}
[required]::after,
.required::after{position:relative;content:"\e705";color:#f35857;margin-left:2px;font-family:"axicon";font-size:10px;}

/* search */
.search{display:flex;align-items:center;flex-wrap:wrap;gap:5px;align-items:center;padding:15px;margin-bottom:12px;border:1px solid #d8dde3;border-width:2px 0px;line-height:25px;
  &>li{align-self:center;
    &:first-child{margin-left:0;}
    input,select,
    button{height:33px;font-size:13px;}
    select{width:auto;}
    .etc_btn{margin-left:auto;}
    input[type = text]:focus,
    input[type = text]:active{box-shadow:1.7px 2.5px 6px rgba(0, 0, 0, 0.13);}
    &>label{font-weight:bold;margin-right:10px;
      &:has(input){
        &::before{display:none;}
      }
      &::before{display:inline-block;width:5px;height:5px;margin-right:5px;margin-bottom:1px;border-radius:6px;content:"";background-color:#c1c1c1;}
    }
  }
}
.search_wrap .btn_wrap{margin-top:17px;padding:14px 34px 0 0;border-top:1px solid #d3d3d3;}

/* paginate */
.paginate{margin:35px 0;text-align:center;
  a,.on{position:relative;display:inline-block;position:relative;min-width:35px;padding:7px;border:1px solid #d7d7d7;color:#333;font-size:15px;line-height:normal;box-sizing:border-box;font-weight:normal;font-family:"Malgun Gothic","맑은고딕","AppleSDGothic","Nanum Barun Gothic","NanumGothic","AppleGothic","Dotum","Arial",sans-serif;}
  a:hover, .on{border:1px solid #646464;background-color:#646464;color:#fff;
  }
  .pre,.next,.first,.last{width:35px;height:36px;color:#00152e;background-color:#fff;border:1px solid #d7d7d7;margin:0 1px;font-size:13px;font-weight:bold;vertical-align:top;}
}

/* tab */
.tab ul{overflow:hidden;
  li{float:left;max-width:150px;}
  a{width:100%;text-align:center;border:1px solid #ccc;border-bottom:none;font-size:16px;font-weight:500;line-height:36px;color:#646464;}
  .on{background-color:#25b4aa;color:#fff;border-color:transparent;}
}
.box_tab ul{display:flex;
  li{flex:1 150px;}
}
.tab_style02{height:100%;
  .tab{border-bottom:1px solid #e2e2e2;
    ul{overflow:hidden;}
    li{float:left;max-width:100%;width:50%;padding:0 22px;}
    a{width:100%;height:60px;text-align:center;border:none;background-color:#fff;font-size:16px;font-weight:300;line-height:62px;color:#555555;}
    .on{color:#1a56a7;border-bottom:4px solid #1a56a7;font-weight:600;}
  }
  .tab_conts{height:calc(100% - 61px);}  
  .tab_cont{height:100%;}
}

/* icon */
.ico_circle{display:block;position:relative;z-index:1;cursor:pointer;
  &::after{display:block;position:absolute;z-index:-1;top:50%;left:50%;content:'';width:28px;height:28px;border-radius:28px; background-color:#646464;transform:translateX(-50%) translateY(-50%);}
}
.ico_file{color:transparent;
  &::before{position:absolute;left:50%;display:block;content:'\e802';font-family:'axicon';font-size:18px;color:#fff;transform:translateX(-50%);}
}
.ico_edit{color:transparent;cursor:pointer;
  &::before{position:absolute;left:50%;display:block;content:'\e830';font-family:'axicon';font-size:18px;color:#fff;transform:translateX(-50%);}
  &:hover::after{background-color:#4c4c4c;}
}
.ico_dtl{font-size:0;cursor:pointer;
  &::before{position:absolute;top:-9px;left:50%;display:block;content:'\e6ed';font-family:'axicon';font-size:18px;color:#fff;transform:translateX(-50%);}
  &:hover::after{background-color:#4c4c4c;}
}
.ico_reset{font-weight:bold;
  &::before{position:relative;top:1px;display:inline-block;content:'\f21c';margin-right:5px;font-family:'axicon';font-size:15px;}
  &:hover::after{background-color:#4c4c4c;}
}

/* image slider */
.slideshow_wrap{position:absolute;width:100%;height:100%;
  &.btn_arrow_h{position:relative;
    button{top:50%;}
    .slick-prev{transform:rotate(-90deg);left:0;}
    .slick-next{transform:rotate(90deg);right:0;}
  }
  &.btn_arrow_v{position:relative;
    button{top:50%;width:100%;height:auto;}
    .slick-prev{transform:rotate(0deg);top:0;}
    .slick-next{transform:rotate(-180deg);bottom:0;}
    .slick-list{height:100%;
      .slick-track{height:100%;
        .slick-slide{display:flex;flex-direction:column;height:100%;margin:10px;border:1px solid #dfdfdf;
          img{width:100%;height:100%;object-fit:contain;}
        }
      }
    }
  }
  .slick-slide{display:flex;flex-direction:column;margin:10px;border:1px solid #dfdfdf;
    img{width:100%;object-fit:contain;}
  }
  .slick-prev,
  .slick-next{height:100%;background-color:rgb(0 0 0 / 15%);color:#000;font-size:0;
    &::before{display:block;content:'\e851';padding:5px 10px;font-family:"axicon";font-size:30px;color:#fff;}
    &:hover,
    &:focus{background-color:rgb(0 0 0/ 25%);transition:.5s;}
    }
    .slick-center{outline:2px solid #25b4aa;}
}

/* common Header */
header{position:fixed;background:#2a3652;width:100%;height:map-get($headerH, pc);z-index:9999;display:flex;padding:0 20px;border-bottom:1px solid #d7d7d7;}
.logo,.util,.gnb{align-self:center;}
.logo{flex:0 1 30%;max-width:460px;
  img{width:100%;}
}
.gnb{min-width:700px;
  &>li{position:relative;z-index:9990;text-align:center;
    &>a{display:block;height:map-get($headerH, pc);margin:0;border-bottom:5px solid transparent;font-size:20px;font-family:'notokrL';color:#ffffff;line-height:map-get($headerH, pc);}
    &:hover .sub{display:block;}
    &:hover>a,
    &>a.on{border-bottom:5px solid #34d0c5;font-family:'notokrB';color:#34d0c5;}
  }
}
.sub{display:none;position:absolute;width:100%;top:calc(map-get($headerH, pc) + 1px);left:0;padding:10px 0;background-color:#fff;border:1px solid #c0c0c0;border-radius:20px;transition:.5s;
  a{display:block;position:relative;height:35px;padding:0 15px;font-size:14px;font-weight:bold;text-align:left;line-height:35px;transition:.5s;text-align:center;  
    &:hover{color:#25b4aa;}
    &::after{opacity:0;position:absolute;top:50%;left:15px;content:'';width:calc(100% - 30px);height:10px;background-color:rgb(5 201 221 / 20%);border-radius:5px;transition:.3s;}
    &:hover::after{opacity:1;}
  }
}
.snb{position:fixed;z-index:9990;width:85px;height:calc(100% - 64px);padding-top:79px;background-color:#001c63;
  &>ul>li{display:block;width:85px;height:110px;background-image:url(../images/ico_menu.png);background-repeat:no-repeat;background-position-x:center;  
    &:hover,
    &.on{background-color:#02a0aa;}
    @for $i from 1 to 7{
      &:nth-child(#{$i}){
        background-position-y:-110px * ($i - 1);
      }
    }
    &>a{display:block;padding-top:55px;text-align:center; font-weight:bold;font-size:14px;color:#fff; letter-spacing:-0.7px;}
  }
}
.link{align-items:center;
  span{margin-right:3px;font-size:18px;color:#fff;}
  img{width:19px;height:20px;filter:brightness(10);}
}
nav{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
.user_name{font-size:14px;font-weight:600;color:#0240b1;line-height:28px;}
.util_wrap{margin-right:10px;padding-right:10px;border-right:1px solid rgb(245 248 250 / 30%);;
  span{font-size:13px;letter-spacing:-0.98px;color:#fff;line-height:33px;vertical-align:top;}
  ul{display:flex;} 
}
.util{display:inline-block;width:32px;height:32px;background-image:url(../images/img_util.png);background-repeat:no-repeat;background-size:cover;opacity:0.6;text-indent:-9999px;
  &:hover{opacity:1;}
  &.user{margin:0 5px;}
  &.alert{background-position:center 50%;}
  &.log{background-position:center 100%;}
}

/* admin Header */
header.admin{background:#fff;}
.admin{
  .gnb{min-width:640px;
    &>li{position:relative;z-index:9990;text-align:center;}
    &>li>a{display:block;height:auto;margin:0 25px;padding:7px 9px;border-bottom:none;font-size:20px;font-weight:bold;line-height:initial;color:#333333;transition:.5s;border-radius:19.5px;}
    &>li:hover>a,
    &>li:active>a,
    &>li>a.on{color:#fff;background-color:#fc6c0f;border-bottom:none;}
    &>li:hover .sub,
    &>li:active .sub{display:block;}
  }
  .sub{display:none;position:absolute;width:100%;top:41px;left:0;padding:10px 0;background-color:#fff;border:1px solid #c0c0c0;border-radius:20px;transition:.5s;
    a{display:block;position:relative;height:35px;padding:0 15px;font-size:14px;font-weight:bold;text-align:left;line-height:35px;transition:.5s;text-align:center;
      &:hover,
      &:active,
      &.on{color:#ff8100;}
      &::after{opacity:0;position:absolute;top:50%;left:15px;content:'';width:calc(100% - 30px);height:10px;background-color:rgb(221 95 5 / 20%);border-radius:5px;transition:.3s;}
      &:hover::after,
      &:active::after,
      &.on::after{opacity:1;}    
    }
  }
  .snb{position:fixed;z-index:9990;width:85px;height:calc(100% - 64px);padding-top:79px;background-color:#001c63;
    &>ul>li{display:block;width:85px;height:110px;background-image:url(../images/ico_menu.png);background-repeat:no-repeat;background-position-x:center;
      &:hover,
      &.on{background-color:#02a0aa;}
      @for $i from 1 to 7{
        &:nth-child(#{$i}){
          background-position-y:-110px * ($i - 1);
        }
      }   
      &>a{display:block;padding-top:55px;text-align:center; font-weight:bold;font-size:14px;color:#fff; letter-spacing:-0.7px;}    
    }  
  }
  .link{
    span{font-family:'notokrDM';color:#2a3652;align-self:center;}
    img{width:19px;height:20px;align-self:center;filter:none;}
  }    
  .util{margin-right:20px;
    span{margin-right:3px;font-size:18px;color:#2a3652;align-self:center;}
    img{width:19px;height:20px;align-self:center;}
  }
  nav{border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7;}
  .user_name{font-size:14px;font-weight:600;color:#0240b1;line-height:28px;}
}

/* login */
.login_wrap{position:relative;width:100%;height:100%;background:#ecedee;
  .login_box{position:absolute;top:50%;left:50%;width:600px;transform:translate(-50%, -50%);
    .login{display:flex;flex-direction:column;justify-content:space-between;height:700px;padding:50px 70px 85px;border:1px solid #6b6b6b;border-radius:5px;background-color:#fff;
      h2{font-size:40px;}
      .flex_wrap{padding:80px 0 20px;justify-content:space-between;}
      ul{flex:0 1 100%;}
      li{margin-bottom:15px;}
      button{width:100%;height:75px;border-radius:35px;font-size:20px;font-family:'notokrM';}
      input[type = text], input[type = password]{display:inline-block;width:100%;height:60px;line-height:60px;padding-left:10px;border-width:0 0 1px 0;font-size:16px;}
      input[type = text]:focus,
      input[type = password]:focus{outline:none;border-color:#215aa9;border-width:0 0 2px 0;}
      .tit_login{text-align:center;
        img{margin-right:10px;}
      }
      .login_check{
        input[type = checkbox]{position:relative;top:-2px;margin-right:10px;}
        label{width:50%;}
      }
      .btn_id_del{position:absolute;top:20px;right:10px;
        &:hover{filter:drop-shadow(0 0 2px black)}
      }
    }
  }
}

/* Footer */
.footer{position:fixed;z-index:9998;bottom:0;width:100%;min-width:1200px;height:40px;padding:0 20px;border-top:1px solid #e1e1e1;background-color:#ebecee;
  span{margin-left:7px;font-size:18px;color:#2a3652;}
  div,copy{align-self:center;}
  copy{color:#777;font-size:14px;}
}
.platform + .footer{position:static;}
.contents{padding-top:map-get($headerH, pc);}
.con_r{position:fixed;top:0;left:496px;width:calc(100% - 496px);height:100%;padding-top:56px;background-size:cover;}
.con_l>.slide_tit{height:61px;padding:21px 27px;}
.slide_tit{
  h2{font-size:20px;font-weight:bold;color:#000;}
  i{font-size:25px;color:#9098a8;}
}
.con_l .slide_main{height:calc(100% - 203px);background:#fff;}
.con{position:fixed;width:100%;height:100%;overflow:hidden;}
.only_con_wrap{padding:20px 30px;}
.btn_slide{position:absolute;bottom:42%;right:-27px;display:block;width:27px;height:59px;padding:0 !important;background-image:url(../images/bg_slide.png);cursor:pointer;background-position-x:0%;}
$con_lH:map-get($headerH, pc) + 65px;
.con_l{position:fixed;top:map-get($headerH, pc);left:0;z-index:9980;width:390px;height:calc(100% - 100px);background-color:#fff;box-shadow:2.3px -3px 10px 0 rgb(0 0 0 / 20%);transition:0.6s;opacity:1;
  &.close{left:-390px;
    .btn_slide{background-position:center right;}
  }
}
.tab_body {height:100%;}
.input_calendar,
.input_calendar2{background:#fff url(../images/btn_calendar.png) no-repeat top 6px right 4px;background-size:15px; cursor:pointer;}
.input_calendar2{background-position:top 9px right 4px;}
.input_grid { width:100%;}

/* common */
  .m_con{display:none !important;}

// 반응형 임시
@include tablet_only{
  .tbl_com tr>td{padding:5px;}
}

@include mobile_tablet{
  /* common */
  .pc_con{display:none !important;}
  .m_con{display:block !important;}
  .m_con .empty::after{background:none !important;}

  /* paginate */
  .paginate{margin-bottom:20px;}
  .paginate a, .paginate .on{min-width:22px;width:22px;margin:0;padding:0 3px;}
  .paginate .pre,
  .paginate .next,
  .paginate .first,
  .paginate .last{width:22px;height:22px;margin:0;vertical-align:bottom;line-height:20px;}

  /* table */
  .tbl_com{line-height:20px;table-layout:fixed;
    thead{height:30px;background-color:#eeeff1;}
    tbody tr{border-bottom:1px solid #cacaca;line-height:20px;
      &>th:first-child,
      &>td:first-child{border-left:none;}
      &>th:last-child,
      &>td:last-child{border-right:none;}
      &.jqgfirstrow{display:none;}
    }
    tr{
      th,
      td{height:30px;padding:3px;font-size:14px;}
    }
  }
  .tbl_row{
    tr{
      &:first-child{
        &>*{border-top-color:#ccc;}
      }
      &:last-child{
        &>*{border-bottom-color:#ccc;}
      }
      th,
      td{border:1px solid #e8e8e8;padding:8px 0;}
      th{background-color:#f3f3f3;font-weight:600;color:#000;font-size:16px;
        &:first-child{border-left-width:0;}
      }
      td{text-align:left;padding-left:13px;padding-right:13px;color:#777;
        &:last-child{border-right-width:0;}
      }
    }
    select,
    input[type=text],
    input[type=file],
    input[type=color],
    input[type=number]{width:100%;height:30px;font-size:14px;}
    & + .gis_wrap{margin-top:6px;}
  }
  .tbl_scroll_head{width:100% !important;}
  .tbl_scroll{
    -ms-overflow-style:none; /* 인터넷 익스플로러 */
    scrollbar-width:none; /* 파이어폭스 */
    &::-webkit-scrollbar {display:none;} /* 크롬, 사파리, 오페라, 엣지 */
  }

  /* header */
  header{height:map-get($headerH, tablet);}
  .allMenuOpen{position:absolute;top:24px;right:22px;margin-top:-11px;width:23px;height:23px;text-indent:-9999px;background:url(../images/ico_allmenu.png) no-repeat center;background-size:contain;}
  .allMenuOpen.close{text-indent:-9999px;background:url(../images/ico_allMenuClose.png) no-repeat center;background-size:contain;}
  #allMenuBox.ins_allMenuBox{display:none;transition:.5s;}
  #allMenuBox.ins_allMenuBox.active{z-index:9999;}
  #allMenuBox{position:absolute;z-index:-1;top:calc(map-get($headerH, mobile) - 1px);right:0;width:100%;padding:10px 0;border:1px solid #2a3652;border-width:1px 0;justify-content:flex-start;background:#2a3652;
    .util_wrap{margin:0;padding-right:0;border-right:none;padding:10px 15px 10px 40px;background:#5a6275;}
    .link{display:block;text-align:right;margin:0;
      span{font-size:16px;line-height:20px;}
    }
    .m_gnb > li{width:100%;height:auto;border-bottom:1px solid #384561;
      &>a{position:relative;display:block;padding:0 30px;width:100%;height:40px;line-height:40px;font-size:15px;font-weight:bold;text-align:left;color:#fff;
        &.empty::before{background:none;}
        &:after{display:block;content:'';position:absolute;right:40px;top:50%;width:13px;height:8px;background:url(../images/icon_m_allmenu_arrow.png) no-repeat center;transition:all ease 0.3s;background-size:contain;transform:translateY(-50%);}
      }
      &.active > a:after{top:40%;transform:rotate(180deg);}
      &.active .sub{padding:10px 0;height:auto;}
      .sub{display:block;position:inherit;top:0;left:0;margin-left:0;padding:0 20px;border:none;border-radius:0;width:100%;height:0;background:#1d273f;overflow:hidden;transition:all ease 0.3s;z-index:9999;
        &::before{display:none;}
        &>li{margin-bottom:0;
          &>a{padding:0;padding-left:45px;text-align:left;font-size:15px;font-family:'NanumGothic';font-weight:normal;line-height:40px;color:#dadada;
            &::before{width:3px;height:3px;margin-bottom:4px;}
          }
          &:hover{
            &>a{color:#25b4aa;
              &::before{background-color:#25b4aa;}
            }
          }
        }
      }
    }
  }
  .admin{
    .allMenuOpen{filter:invert(.6);}
    #allMenuBox{background-color:#fff;border:1px solid #cccccc;
      .m_gnb > li{width:100%;height:auto;border-bottom:1px solid #eeeeee;
        &:last-child{border-bottom:none;}
        &>a{color:#2a3652;}
        .sub{background:#f8f8f8;box-shadow:inset 0 0 15px #e2e2e2;
          a{color:#777;}
          li:hover{
            &>a{color:#fc6c0f;
              &::before{background-color:#fc6c0f;}
            }
          }
        }
      }
      .link{padding:10px;background:#fff2ea;}
    }
  }
  .logo{width:75%;max-width:400px;flex:none;}
  .link{display:none;}
  /* footer */
  .footer{min-width:100%;height:map-get($headerH, tablet);
  }
}

@include tablet_only{
  /* header */
  .allMenuOpen{top:27px;}
  .logo{max-width:350px;}
  .gnb{min-width:425px;width:38%;}
  .admin{
    .gnb{min-width:580px;}
  }
}
@include mobile_only {
  /* common */
  .btn_s{height:auto;line-height:initial;}
  .btn,
  .btn_m{width:auto;padding:2px 8px;}
  .search{gap:5px;}
  .tab ul{overflow:hidden;
    a{font-size:15px;line-height:30px;}
  }
  .search{padding:10px;
    .btn_wrap{margin-left:auto;}
  }
  .tbl_res{
    col{width:100% !important;}
    thead{display:none;}
    tbody{display:flex;flex-direction:column;gap:10px;
      &>tr:first-child>td:first-child{margin-top:0;}
      &>tr>td:last-child{border-bottom:1px solid #d7d7d7;}
      tr{
        td{display:flex;height:auto;align-items:center;padding:0;border-top:1px solid #d7d7d7;text-align:left;font-size:13px;line-height:25px;
          &:before{margin-right:12px;-webkit-box-flex:0;-ms-flex:0 0 100px;flex:0 0 100px;font-weight:700;content:attr(data-label);text-align:center;font-size:13px;background-color:#eeeff1;color:#000;}
        }
      }
    }
  }
  .tbl_tree{
    .tbl_tree_con{display:none;}
    .tbl_toggle{
      .btn_tbltoggle{display:none;}
      thead{background-color:#fafafa;
        th{border-color:#e2e2e2;padding:2px;}
      }
      td::before{background-color:#fafafa;}
    }
    .btn_tbltoggle{justify-content:center;float:left;width:35px;height:243px !important;background-color:#fff;border:1px solid #d7d7d7 !important;font-size:17px;color:#555;
      &::before{display:none;}
    }
  }
  .ico_circle{align-self:center;padding:0 5px;padding-left:20px;border-radius:28px;background-color:#646464;line-height:20px;color:#fff;
    &:hover{background-color:#4c4c4c;}
    &::before{top:0;left:22%;font-size:13px;}
    &::after{width:0;height:0;}
  }
  .period_multi{flex-shrink:1; flex-wrap:wrap;
    input{font-size:16px;}
  }
  header{height:map-get($headerH, mobile);}
  .allMenuOpen{top:23px;}
  #allMenuBox{
    .link{
      span{font-size:14px;}
      }
    .util_wrap{padding:5px 15px;
      ul span{line-height:28px;
      }
      .util{width:28px;height:28px;}
    }
  }
  .contents{padding-top:map-get($headerH, mobile);}
  .con_l{top:map-get($headerH, mobile);width:calc(100% - 30px);height:calc(100% - 95px);
    &.close{left:calc(-100% + 30px);}
  }
  /* login */
  .login_wrap{
    .login_box{width:100%;
      .login{height:100vh;justify-content:center;gap:15px;padding:20px;border:none;}
    }
  }
  /* footer */
  .footer{height:map-get($headerH, mobile);flex-wrap:wrap;flex-direction:column;justify-content:center;
    span{font-size:15px;}
    copy{color:#777;font-size:12px;}
  }
}



