@charset "utf-8";
/* pop common */
.pop_overlay{position:fixed;z-index:99;top:0;left:0;width:100%;height:100%;background-color: rgba(0, 0, 0, 0.3);}
.pop_wrap{width:500px;position:fixed;top:50%;left:50%;background-color:#fff;transform:translateX(-50%) translateY(-50%);border:2px solid #2a3652;
  .search.f_sb{justify-content:space-between;}
  .btn_wrap{padding:16px 0;}
  .tbl_row th,
  .tbl_row td{height:45px;padding:5px 10px;border:1px solid #d7d7d7;font-size:14px;}
}
.pop_body{max-height:695px;margin:1px;padding:30px 27px 0;overflow-y:auto;}
.pop_tit{display:flex;justify-content:space-between;padding:27px 27px 0;}
.pop_tit h1{font-size:23px;font-weight:bold;color:#060606;}
.btn_pop_close{position:relative;top:1px;width:17px;height:17px;
  &::before{content:'';display:block;width:100%;height:100%;background:url(/images/btn_pop_close.png);filter:invert(1);}
}

.pop_wrap table textarea{line-height:22px;}
.tbl_info label{font-weight:600;}
.tbl_info th,.tbl_info td{height:30px;padding:3px;background-color:transparent;border:1px solid transparent;text-align:left;}

.p_virus{width:auto;}
.p_fever{width:950px;}
.pop_cont .tit{border-bottom:1px solid #005aab;margin-bottom:10px;padding-bottom:5px;}
.pop_cont .tit h2{font-size:16px;font-weight:600;color:#005aab;}

.tbl_row{
  th,
  td{border:1px solid #e8e8e8;padding:8px 0;}
  th{background-color:#f3f3f3;font-weight:600;color:#000;font-size:16px;}
  td{text-align:left;padding-left:13px;padding-right:13px;color:#777;}
  th:first-child{border-left-width:0;}
  td:last-child{border-right-width:0;}
  tr:first-child th,
  tr:first-child td{border-top-color:#ccc;}
  tr:last-child th,
  tr:last-child td{border-bottom-color:#ccc;}
  select,
  input[type=text],
  input[type=file],
  input[type=color],
  input[type=number]{width:100%;height:30px;font-size:14px;}
  & + .gis_wrap{margin-top:6px;}
}
.tbl_info{
  label{font-weight:600;}
  th,
  td{height:30px;padding:5px 3px;background-color:transparent;border:1px solid transparent;text-align:left;font-size: 16px;}
  input,
  select{width:100%;height:35px;font-size:16px;}
}
.consent_box{
  &>p{margin:20px 0 10px;
    &>label{font-weight:bold;color:#000;}
  }
  &>div{height:170px;overflow-y:scroll;background-color:#f1f1f1;border:1px solid #ccc;padding:10px;}
}
.border_none{border: none !important;}
.padding_5{padding-left:7px !important;}

.tbl_num.font_black td{color:#000;font-family:'notokrDM';}
.tbl_num td{width:35px !important;height:30px !important;padding:0 !important;text-align:center;border-width:1px !important;border-color:#f1f1f1 !important;}
